/* You can add global styles to this file, and also import other style files */
.btn-secondary {
     color: #333 !important; 
     background-color: #eff3f4 !important;  
     border-color: #eff3f4!important; 
         margin-top: -12px;
}
body{
	background-color: #e9eaec !important;
}